body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:red;
    overflow: hidden;
}
     h1 {
         font-size:9px;
         color:white;
         }
.wrapper{
    display: grid;
    place-items: center;
    text-align: center;
}
.title{
    font-size: 30px;
    margin: 20px auto 30px auto;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.cell{
    width: 75px;
    height: 75px;
    background: black;
    border: 1px solid #C779D0;
    cursor: pointer;
    line-height: 80px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
}
.status{
    font-size: 50px;
    color: white;
    margin: 40px auto 20px auto;
}
.restart{
    padding: 10px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
